body {	
	font-family: 'Poppins', sans-serif;
	margin: 0;
	background-image: linear-gradient(to bottom, red, yellow);
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size:20px
}

header {
	background: #a32727;
	position: sticky;
	top: 0;
	padding: 3px 0;
	border-bottom: 1px solid;

}

.stuff {
	max-width: 1200px;
	margin: auto;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	gap: 15px;
}

.logo img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid;
	object-fit: cover;
}

.nav-bar ul{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap:15px;
	list-style-type: none;
	padding:10px;
}

.nav-bar a{
	display:block;
	text-decoration:none;
	margin: 10px 5px;
	padding:10px;
	background:black;
	color:white;
	text-align:center;
	box-shadow:3.5px 5px grey;
	border-radius:3px;
}

.nav-bar a:hover{
	color: black;
	background:white;
	box-shadow:3.5px 5px grey;
	transition:0.5s;
}

#Body{
	display:grid;
	grid-template-rows:repeat(3, 1fr);
	grid-gap:15px;
	min-height:1000px;
	text-align:center;
	background-image: linear-gradient(to bottom, #8c1814, #c74812);
}

#Body1{
	display:grid;
	grid-template-rows:repeat(2, 1fr);
	grid-gap:15px;
	min-height:300px;
	text-align:center;
	background-image: linear-gradient(to bottom, #8c1814, #c74812);
}

#why1{
	color:white;
	padding:80px 250px 0px;
	min-height:300px;
}

#why1 .Masir{
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	gap:15px;
}

.Masir summary{
	color:#431708;
}

#why{
	color:white;
	padding:80px 250px 0px;
	min-height:300px;
	background-image: url("lakan.jpg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#me{
	display: grid;
	grid-template-columns:repeat(2,1fr);
	gap:30px;
	text-align:center;
}

details {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

summary {
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  background-color: #f1f1f1;
}

.mapeh-intro{
	width:450px;
	height:400px;
	border-radius:17px;	
	margin:0px 0px 0px 260px;
}

.mapeh-img{
	width:292px;
	height292x;
	z-index:1;
	border-radius:8px;
	box-shadow: 10px 10px 5px #461808;
}

.principal-intro{
	width:450px;
	height:400px;
	border-radius:17px;	
	margin:0px 0px 0px 260px;
}

.principal-img{
	width:350px;
	height350px;
	z-index:1;
	border-radius:8px;
	box-shadow: 10px 10px 5px #461808;
}

#us{
	display: grid;
	grid-template-columns:repeat(4,1fr);
	gap:20px;
	min-height:250px;
	padding:80px 0px;
}

#us img{
	border-radius:10px;
	width:450px;
	height:450px;
}

.not-meant{
	display:grid;
	grid-template-rows:repeat(3, 1fr);
	gap:30px;
	color:white;
}

.not-meant summary{
	gap:30px;
	color:white;
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
	background-color: black;
}

.Feeter {
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	padding:0px 15px;
	min-height:100px;
}

.Feeter ul{
	list-style-type: none;
	padding:10px;
}

.Feeter a{
	display: block;
	text-decoration:none;
	color:black;
	padding:0px 5px;
}

.Feeter footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f58e14;
    color: #461808;
}

.Feeter img{
	width:80px;
	height:80px;
	border-radius:1A0px;
}

#Katawan2{
	color:white;
	background-image: linear-gradient(to bottom, #8c1814, #c74812);
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  min-width: 800px;
  width: 1fr;
  background: #fff;
  padding: 40px;
  border-radius: 5px;
 }


address {
  flex: 1 1 300px;
  font-style: normal;
  line-height: 1.8;
  color: #555;
}

address a {
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
}

form {
  flex: 2  1  400px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: 500;
  color: #444;
}

input, textarea {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #007bff;
}


button {
  background-color: #007bff;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s;
}

button:hover {
  background-color: #0056b3;
}